body {
  background-color: #26292c;
  color: #f2f2f2; }

input, input.form-control {
  border: 1px solid #444; }

a:hover, a.active:hover, a.inactive:hover {
  color: #f2f2f2;
  text-decoration: none;
  cursor: pointer; }
a.active {
  color: #f59120; }
a.inactive {
  color: #8c8c8c; }
a.danger:hover {
  color: #f59120; }

.tiny {
  font-size: 9px; }

.small {
  font-size: 11px; }

.dim, .lint-issues .reporter {
  color: #b3b3b3; }
  .dim.hover-bright:hover, .lint-issues .hover-bright.reporter:hover {
    color: #f2f2f2; }

.xtradim {
  color: #8c8c8c; }

.highlight {
  color: #f59120; }

.text-shadow, .lint-issues .label, .lint-issues .path .tail {
  text-shadow: 1px 1px #000; }

.content-wrapper {
  margin: 20px 20px 20px 10px;
  padding: 0 15px; }

.title {
  font-size: 20px;
  position: relative;
  top: -1px; }
  .title > span {
    color: #f9276c; }

.menu-row {
  margin-bottom: 15px; }
  .menu-row > div {
    display: inline-block; }
  .menu-row button {
    position: relative;
    top: 1px; }
  .menu-row .input-wrapper {
    width: 80%; }

.menu-wrapper {
  margin-bottom: 20px; }

.submenu-row {
  margin-top: 10px;
  font-size: 11px; }
  .submenu-row > div {
    display: inline-block;
    margin-right: 10px;
    padding: 4px;
    border: 1px solid #555; }

#target-path-input {
  height: 24px;
  font-size: 12px; }

.saved-target {
  background-color: #1f2124;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 5px; }
  .saved-target input {
    height: 24px;
    font-size: 12px;
    color: #b3b3b3; }
  .saved-target .save-details {
    margin-top: 6px; }
  .saved-target .actions {
    margin-top: 4px; }

.lint-issues {
  margin-top: 5px; }
  .lint-issues table {
    margin-top: 10px; }
  .lint-issues td {
    padding: 0 5px;
    font-size: 12px; }
  .lint-issues .path {
    padding: 4px 4px 6px 4px;
    border-radius: 3px; }
    .lint-issues .path:hover {
      background-color: rgba(0, 0, 0, 0.3); }
    .lint-issues .path .label {
      position: relative;
      top: -2px; }
    .lint-issues .path .head, .lint-issues .path .tail {
      font-size: 18px; }
    .lint-issues .path .head {
      color: #b3b3b3; }
    .lint-issues .path .tail {
      font-weight: bold; }
  .lint-issues.demoted {
    opacity: 0.3; }
  .lint-issues .line-wrapper {
    padding-left: 30px;
    margin: 10px 0 10px 0; }
    .lint-issues .line-wrapper .line {
      display: inline-block;
      margin-right: 5px; }
    .lint-issues .line-wrapper .detail {
      display: inline-block; }
  .lint-issues .issue {
    padding-left: 30px;
    margin: 5px 0; }
    .lint-issues .issue > div {
      display: inline-block;
      margin-right: 5px; }
  .lint-issues .blame {
    color: #84bcde; }
    .lint-issues .blame.blame-me {
      color: #fb292d; }

code, .code {
  color: #f59120;
  padding: 4px 8px;
  font-family: source-code-pro, sans-serif;
  font-weight: 300;
  font-size: 11px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
