<!DOCTYPE html>
<html lang="en" ng-app="lintblame">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Fangapp</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
  </head>

  <body>
  {% raw %}
    <div class="container content-wrapper">
        <div class="row">
            <div class="col-md-2 menu-col" ng-controller="MenuCtrl">
                <div class="title">
                    lintblame
                    <div class="pull-right" id="loading">
                    </div>
                </div>
                <div 
                    ng-class="{'has-success': pathExists, 'has-error': targetPathInput.length > 0 && !pathExists}"
                >
                    <input type="text" id="targetPathInput" class="form-control" ng-model="targetPathInput" placeholder="path/to/target" ng-change="targetPathChange(targetPathInput)">
                </div>

                <div class="buttons">
                    <div ng-show="pathExists">
                        <button class="btn btn-success"
                            ng-click="acceptPath()"
                        >
                            Okay!
                        </button>
                    </div>
                </div>
            </div>

            
            <div class="col-md-10" ng-controller="ResultsCtrl">
                <div ng-repeat="(path, pathData) in lintResults"
                    lint-issues path="path" data="pathData"
                >
                </div>
            </div>
        </div>

    </div> <!-- /container -->


    {% endraw %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.js')}}"></script>
    <script src="{{url_for('static', filename='bower_components/less/dist/less-1.5.0.js')}}"></script>
    <script src="{{url_for('static', filename='bower_components/angular/angular.js')}}"></script>
    <script src="{{url_for('static', filename='bower_components/underscore/underscore.js')}}"></script>
    <script src="{{url_for('static', filename='lib/spin.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/app.js')}}"></script>
  </body>
</html>
