<!DOCTYPE html>
<html lang="en" ng-app="lintblame">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link id="favicon" rel="shortcut icon" type="image/png" href="../../docs-assets/ico/favicon.png">

    <title>lintblame</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
  </head>

  <body>
  {% raw %}
    <div class="content-wrapper">
        <div class="row"> <!-- Parent row -->       
            <div class="col-md-2 col-sm-3 col-xs-4">
                <div class="title">
                    <span>thunder</span>box
                </div>

                <div class="saves-wrapper" ng-controller="SavesCtrl">
                    <div ng-repeat="(path, data) in saves" saved-target></div>
                </div>
            </div>
            <div class="col-sm-9 col-md-10 col-xs-8">
                <div ng-controller="MenuCtrl">
                    <div class="row">
                        <div class="col-sm-11 col-xs-9">
                            <div class="input-wrapper">
                                <div 
                                    ng-class="{'has-success': pathExists, 'has-error': targetPathInput.length > 0 && !pathExists}"
                                >
                                    <input type="text" id="target-path-input" class="form-control code" ng-model="targetPathInput" placeholder="path/to/target" ng-change="targetPathChange(targetPathInput)">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1 col-xs-2">
                            <div>
                                <button class="btn btn-success btn-xs"
                                    ng-show="showSubmitBtn"
                                    ng-click="acceptPath()"
                                >
                                    Okay!
                                </button>
                                <button class="btn btn-info btn-xs"
                                    ng-click="saveState()"
                                    ng-show="showSaveBtn"
                                >
                                    Save
                                </button>
                            </div>
                        </div>
                        <div class="pull-right">
                            <div class="pull-right" id="loading"></div>
                        </div>
                    </div>
                    <div class="submenu-row">
                        <div ng-show="pathExists && vcs">
                            <a 
                                ng-click="toggleBranchMode()"
                                ng-class="{active: branchMode, inactive: !branchMode}"
                            >
                                {{branch}}
                            </a>
                        </div>
                        <div ng-show="pollCount">
                            <a ng-click="togglePolling()"
                                ng-class="{active: isPolling, inactive: !isPolling}"
                            >
                                <span class="glyphicon"
                                    ng-class="{'glyphicon-play': isPolling, 'glyphicon-pause': !isPolling}"
                                ></span>
                                <span ng-show="!isPolling">Not</span>
                                Polling
                            </a>
                        </div>
                        <div class="pull-right dim">
                            <span ng-show="lastRefresh">
                                Updated {{lastRefresh}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" ng-controller="ResultsCtrl">
                        <div ng-repeat="path in sortedPaths" lint-issues></div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /container -->


    {% endraw %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{url_for('static', filename='lib/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.js')}}"></script>
    <script src="{{url_for('static', filename='bower_components/less/dist/less-1.5.0.js')}}"></script>
    <script src="{{url_for('static', filename='bower_components/angular/angular.js')}}"></script>
    <script src="{{url_for('static', filename='bower_components/underscore/underscore.js')}}"></script>
    <script src="{{url_for('static', filename='lib/spin.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/app.js')}}"></script>

    <script src="//use.edgefonts.net/source-code-pro.js"></script>
  </body>
</html>
