$smallFontSize: 11px;
$orange: #f59120;
$dim: darken(#fff, 30%);
$xtradim: darken($dim, 15%);

body {
    background-color: #26292c;
    color: darken(#fff, 5%);
}

a {
    &.active {
        color: $orange;
    }

    &.inactive {
        color: $xtradim;
    }
}

.dim {
    color: $dim;
}

.text-shadow {
    text-shadow: 1px 1px #000;    
}

.container.content-wrapper {
    margin-top: 20px;
}

.title {
    font-size: 20px;
    position: relative;
    top: -1px;

    & > span {
        color: #f9276c;
    }
}

.menu-row {
    margin-bottom: 15px;
}

#target-path-input {
    height: 24px;
    font-size: 12px;
}

.lint-issues {
    @extend .text-shadow;
    
    margin-top: 5px;

    .line-wrapper {
        padding-left: 30px;
        margin: 5px 0 10px 0;
        code {
            min-width: 500px;
        }
    }
    
    .issue {
        padding-left: 30px;
        margin: 5px 0;
        & > div {
            display: inline-block;
            margin-right: 5px;
        }
    }
    .line {
        width: 20px;
    }
    .reporter {
        @extend .dim;
        font-size: $smallFontSize;
    }
    .blame {
        font-size: $smallFontSize;
        color: #84bcde;

        &.blame-me {
            color: #fb292d;
        }
    }
}

code, .code {
    // color: #dadbb1;
    color: $orange;
    padding: 4px 4px;
    font-family: menlo, monaco, "andale mono", "courier new", fixed;
    font-size: 12px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    background: #202020;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
