$smallFontSize: 11px;
$orange: #f59120;
$fontColor: darken(#fff, 5%);
$dim: darken(#fff, 30%);
$xtradim: darken($dim, 15%);

body {
    background-color: #26292c;
    color: $fontColor;
}

a {
    &.active {
        color: $orange;
    }

    &.inactive {
        color: $xtradim;
    }
}

.dim {
    color: $dim;

    &.hover-bright {
        &:hover {
            color: $fontColor;
        }
    }
}

.text-shadow {
    text-shadow: 1px 1px #000;    
}

.container.content-wrapper {
    margin-top: 20px;
}

.title {
    font-size: 20px;
    position: relative;
    top: -1px;

    & > span {
        color: #f9276c;
    }
}

.menu-row {
    margin-bottom: 15px;
}

#target-path-input {
    height: 24px;
    font-size: 12px;
}

.lint-issues {

    @extend .text-shadow;
    
    margin-top: 5px;

    table {
        margin-top: 10px;
    }

    td {
        padding: 0 5px;
        font-size: 12px;
    }

    .path {
        padding: 4px 4px 6px 4px;
        border-radius: 3px;
        
        &:hover {
            background-color: rgba(0, 0, 0, .3);
        }
    }

    &.demoted {
        opacity: 0.3;
    }

    .line-wrapper {
        padding-left: 30px;
        margin: 10px 0 10px 0;

        .line {
            display: inline-block;
            margin-right: 5px;
        }
        .detail {
            display: inline-block;            
        }
    }
    
    .issue {
        padding-left: 30px;
        margin: 5px 0;
        & > div {
            display: inline-block;
            margin-right: 5px;
        }
    }
    .reporter {
        @extend .dim;
    }
    .blame {
        color: #84bcde;

        &.blame-me {
            color: #fb292d;
        }
    }
}

code, .code {
    // color: #dadbb1;
    color: $orange;
    padding: 4px 8px;
    // font-family: menlo, monaco, "andale mono", "courier new", fixed;
    font-family: source-code-pro, sans-serif;
    font-weight: 300;
    font-size: 11px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    background: #202020;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
